<div class="main-area">
  <div class="content">
    <h1>pain bucketとは</h1>
    <div class="main-content">
      <p1 class="bucket">人は病気になった時、必ず「不安」になります。大きな病気や聞いたことない病名なら尚更です。
        その不安を一番共感できるのは、「同じ病気になった人」です。
        「pain bucket」は、インターネットを通じて同じ病気の人と、不安を共感したり解消するためのSNSサービスです。</p1>
  　</div>
  </div>
</div>
