<div class="main-area">
  <div class="content">
    <h1>pain bucketとは</h1>
    <h3 class="bucket">自分の病気の経験を投稿してシェアしよう！！</h3>
    <div class="main-content">
      <p1>~使い方~</p1>
        <ol>
          <li>”新規登録はこちら”からユーザー登録をする。</li>
          <li>”ログインはこちら”からログインをする。</li>
          <li>”投稿はこちら”から自分の病気の経験を投稿する。</li>
        </ol>
  　</div>
  </div>
</div>
