<div class="main-area">
<div class="content">
  <h1>詳細</h1>
  <div class="main-content">
    <p><%= link_to("変更","/posts/#{@post.id}/edit") %></p>
    <p><%= link_to("削除","/posts/#{@post.id}/delete",{method: "post"}) %></p>
  </div>
</div>
</div>
