
body {
  width: 100%;
  background-image: image-url("notebook-731212_1920.jpg");
  background-size: cover;
}

.main-area {
  width: 60%;
  margin: 0 auto;
  background-image: image-url("notebook-731212_1920.jpg");
}

.content {
    width: 60%;
    height: auto;
    margin-top: 40px;
    background-color: rgba(106,192,255, 0.6);
    background-size: cover;
    position: absolute;
    top: 60px;
    border-radius: 40px;
  }

.content img{
  border-radius: 40px;
  background-color: white;
}

.btn {
   display: inline-block;
   border-radius: 8px;
 }

 .contribution-left {
   background-color: #FFCC00;
   margin-right: 30px;
 }

 .contribution-right {
   background-color: #B384FF;
 }

 .singnup-wrapper-modal {
   cursor: pointer;
   background-color: #239b76;
   font-size: 25px;
   color: white;
   margin-right: 20px;
 }

.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.login-wrapper-modal {
  cursor: pointer;
  background-color: #136FFF;
  color: white;
  font-size: 25px;
}

.main-wrapper-area {
  position: absolute;
  background-color: #e6ecf0;
  top: 20%;
  left: 30%;
  width: 600px;
  border-radius: 8px;
  text-align: center;
}

.fa-times{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.top {
   height: 60px;
   background-color: #000;
   background-size: cover;
   padding: 20px 30px;
 }

 .flash {
   background-color: #CCCCCC;
   color: black;
   height: 40px;
 }

 .flash p{
   text-align: center;
   padding-top: 10px;
   font-size: 20px;
 }

.contribution {
  margin-left: 30px;
}

.contribution-wrapper{
  text-align: center;
  margin-bottom: 30px;

}

.contribution-wrapper p{
  font-size: 25px;
}

.btn-contribution {
  float: left;
  margin-right: 40px;
}

.btn-search {
  margin-right: 30px;
  float: right;
}

.main-contribution{
  float: left;
}

.main-search {
  float: right;
  margin-right: 30px;
}

.content h1,h3 {
  text-align: center;
}

.content h3{
  color: red;
  font-weight: 700;
}

.content p2 {
  font-size: 30px;
  padding-left: 30px;
}
.main-title h1 {
  font-size:80px;
  text-align: center;
}

.main-title p {
  text-align: center;
  font-size: 30px;
}

.main-link {
  font-size: 25px;
  margin: 20px;
}

.user-name {
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.user-login {
  margin-top: 30px;
  text-align: center;
}

.topic {
  text-align: center;
}

.topic h1 {
  font-size: 60px;
}

.topic p {
  font-size: 25px;
}

.main-content {
  margin: 45px 30px 100px 30px;
  text-align: center;
}

.straight{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
}

.submit {
  background-color: #2E8B57;
  color: #FFFFFF;
  width: 50%;
  border-radius: 8px;
  margin-top: 20px;
}

.login-submit {
  background-color: #136FFF;
  color: #FFFFFF;
  width: 50%;
  border-radius: 8px;
  margin-top: 20px;
}
.main-content p{
  font-size: 30px;
  margin-top: 20px;
}

.main-content p1 {
  font-size: 20px;
  display: block;
  margin-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}

.main-content p2 {
  font-size: 40px;
  display: inline;
  padding-bottom: 60px;
}

.main-content ol {
  position: relative;
  float: left;
  left: 50%;
  margin-bottom: 30px;

}

.main-content li {
  padding-top: 30px;
  font-size: 25px;
  position: relative;
  left: -50%;
}

.main-post-content {
  border: solid 6px #777777;
  border-radius: 10px;
  padding-left: 45px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.detail {
  font-size: 20px;
}

.unlike-like-btn {
  color: #FF5192;
}

.like-btn {
  color: #A9A9A9;
}

.detail {
  //float: right;
}

.form p{
  font-size: 25px;
}
